{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "vitest-globals/env": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:nuxt/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended",
    "plugin:vitest-globals/recommended",
    "plugin:testing-library/vue"
  ],
  "plugins": [
    "@typescript-eslint",
    "testing-library"
  ],
  "rules": {
    "vue/script-setup-no-uses-vars": "off",
    "vue/multi-word-component-names": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "testing-library/render-result-naming-convention": "off"
  },
  "ignorePatterns": [
    "node_modules/*",
    ".nuxt/*",
    ".output/*",
    "dist/*",
    "*.d.ts"
  ]
}